<!doctype html>
<html lang="en">
<head>
    <title>BFI- PFE - Yassine et Raed</title>
    <link rel="icon" href=
            "/static/bfi.png"
          type="image/x-icon">


    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<main class="position-absolute top-50 start-50 translate-middle">
    <form method=post enctype=multipart/form-data>
        <img class="mb-4" src="/static/bfi.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Téléchargez votre chèque</h1>

        <div class="form-floating">

            <input type="file" class="form-control" id="image" name="image">
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Prédire</button>
        <br>
        <br>
        {% if imagelocation %}
            <br>
            <div class="align-content-md-center">
                <label class="col-sm-2 col-form-label">Prediction:</label> <input type="text" class="form-control"
                                                                                  value={{ prediction }}>

            </div>

            <br>
            {% if precision>97 %}
                <label class="alert-success">Precision: {{ precision }} %</label>
            {% else %}
                <label class="alert-danger">Precision: {{ precision }} %</label>
            {% endif %}
            <br>
            <div class="align-content-lg-start">
                <img src="/static/images/{{ imagelocation }}" alt="An Image" runat="server" height="500" width="700"/>
            </div>


        {% endif %}
    </form>
</main>


</body>
</html>
